<h1>Create Doge!</h1>
<form method="post" action="/">
<p>name:</p>
<textarea name="name" id="name"></textarea>
<br>
<p>breed:</p>
<textarea name="breed" id="breed"></textarea>
<br>
<p>age:</p>
<textarea name="age" id="age"></textarea>
<br>
<button type="submit" value="submit">submit</button>
</form>
